<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>
<form th:method="POST" th:action="@{/src/main/webapp/WEB-INF/views/admin/users}" th:object="${user}">
    <div>
        <label>
            Fist name:
            <input type="text" th:field="*{firstName}" placeholder="Ivan">
        </label>
    </div>
    <div>
        <label>
            Last name:
            <input type="text" th:field="*{lastName}" placeholder="Ivanov">
        </label>
    </div>
    <div>
        <label>
            Email:
            <input type="email" th:field="*{email}" placeholder="mail@mail.com">
        </label>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
</html>